:host {
  padding: 24px;
  display: grid;
  grid-gap: 24px;
  grid-template-columns: "1fr 1fr 1fr";
  grid-auto-rows: "auto";
  width: 100%;
  grid-template-areas:
    "desktop desktop desktop"
    "tablet  tablet  mobile"
    "all-children all-children all-children";
}

#preview-desktop {
  grid-area: desktop;
}

#preview-tablet {
  grid-area: tablet;
}

#preview-mobile {
  grid-area: mobile;
}

#preview-all-children {
  grid-area: all-children;
}
