form {
  font-size: 1em;
  display: flex;
  height: 32px;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;

    span {
      margin-right: (3em/8);
      width: max-content;
      color: rgba(255, 255, 255, .65);
    }
  }

  input, select {
    background: rgba(18, 18, 18, .3);
    color: rgba(255, 255, 255, .6);
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    font-size: (7em/8);
    border-radius: (1em/4);
    height: 1.5em;

    &:focus {
      border: #2d69af 1px solid;
    }

    margin-right: 1em;
  }

  input {
    padding: (1em/4) (1em/2);
  }

  select {
    padding: 0 (1em/2);
  }

  option {
    background: rgba(72, 72, 72, .8);
    font-size: 1em;
  }
}
