$background-dark:  #222;
$background-light: #383838;
$background-highlight: #074864;

$border-color: rgb(55, 60, 65);

$text-main: rgb(190, 190, 190);
$text-fade: rgb(125, 125, 125);
$text-bright: #fff;

$dark-text-main: #f8f8f8;
