@import "../../../styles/inputs";
@import "../../../styles/scrollbar";

:host {
  display: flex;
  color: white;
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.5);
  background-color: #171717;
}

section {
  @extend .scrollbar;

  width: 10em;
  padding: 1em 2em;
  border-right: 1px solid #333;
  max-height: 25em;
  overflow-y: auto;

  &:last-child {
    border-right: none;
  }
}

h1 {
  font-weight: normal;
  margin: 0 0 1em;
  text-align: center;
}

.button-group {
  @extend .button-group;

  padding: 0;
  list-style-type: none;
  margin: 0;
}

.button {
  @extend .button;

  color: white;
  text-align: center;
  text-decoration: none;
}
